---
layout: default
title: P5 experiments
---


{% for post in paginator.posts %}

	<article class="post">

          <p class="meta"><span class="postdate">{{ post.date | date: "%b %d, %Y" }}</span></p>
          <h2><a href="{{ site.url }}{{ post.url }}#disqus_thread">comments</a></h2>


		{% if post.external-url %}
			<h1>
				<a href="{{ post.external-url }}">{{ post.title }}</a>
				<a class="anchor" href="{{ site.url }}{{ post.url }}"><i class="icon-anchor"></i></a>
			</h1>
		{% else %}
			<h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
		{% endif %}

		<div class="post-content">{{ post.content }}</div>

               
	</article>
    <!--     Comment section (Disqus) -->



{% endfor %}


{% if paginator.total_pages > 1 %}
	<div class="postnavigation">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="prev left" href="{{ site.url }}/">&larr; Newer</a>
			{% else %}
				<a class="prev left" href="{{ site.url }}/page{{paginator.previous_page}}/">&larr; Newer</a>
			{% endif %}
		{% else %}
			<span class="nope left">&larr; Newer</span>
		{% endif %}

		<span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a class="next right" href="{{ site.url }}/page{{paginator.next_page}}/">Older &rarr;</a>
		{% else %}
			<span class="nope right">Older &rarr;</span>
		{% endif %}

	</div>
{% endif %}

